body {
  padding-top: 10px;
  padding-left: 30px;
  background-color: black;
  color: white;
  font-family: "Comic Sans", cursive, sans-serif;
}

.btn,
button {
  height: 40px;
  font-size: large;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  border-radius: 3px;
  border: 1px solid;
  background-color: rgb(3, 126, 3);
}

a {
  text-decoration: none;
}
